beautifulsoup4~=4.10.0
EbookLib~=0.17.1
fastapi~=0.75.2
Jinja2~=3.1.1
lxml~=4.8.0
Pillow~=9.1.0
pydantic~=1.9.0
psycopg2~=2.9.3
python-dateutil~=2.8.2
python-multipart~=0.0.5
requests~=2.27.1
SQLAlchemy~=1.4.35
setuptools~=57.0.0
starlette~=0.17.1
xhtml2pdf~=0.2.7
uvicorn~=0.17.6