<!DOCTYPE html>
<html>

<head>
    <title>Read from cache</title>
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
<table align="left" cellpadding="5" cellspacing="10" style="width:800px">

	{% for news in news_list %}
	<tbody>
		<tr>
			<td colspan="2" style="text-align:left; vertical-align:top"><span style="font-size:14px"><span style="color:#999999">RSS feed: <b> {{ news['rss_header'] }}&nbsp;</b></span></span></td>
		</tr>
		<tr>
            <td rowspan="5" style="vertical-align:top; width:300px"><a href="{{news['news_img_link']}}"><img alt="" src="{% if news['news_img_link'] == 'Empty' %} {% else %} {{news['news_img_link']}} {% endif %}" style="float:left; margin:10px 0px; width:250px" /></a>
			<p>&nbsp;</p>


			<th style="text-align:left; vertical-align:top; width:500px"><span style="font-size:20px"><strong><a href="{{news['news_link']}}">{{news['title']}}</a></strong></span></th>
		</tr>
		<tr>
			<th style="text-align:right; vertical-align:top"><span style="font-size:14px"><span style="color:#c0392b">{{news['pubdate']}}</span></span></th>
		</tr>
		<tr>
			<td style="text-align:justify; vertical-align:top; width:500px">
			<p><span style="font-size:16px"><span style="color:#999999">{% if news['description'] == 'Empty' %} No description found {% else %} {{news['description']}} {% endif %} </span></span></p>
			</td>
		</tr>
		<tr>
			<td style="text-align:justify; vertical-align:top; width:500px">&nbsp;</td>

		</tr>
		<tr>
			<td>
				<form action="/news/delete/{{news.id}}" method="post">
					<input type="submit" class="btn btn-danger" value="Delete">
				</form>


            </td>



		</tr>
		<tr>
			<td style="vertical-align:top">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>

	</tbody>
	{% endfor %}
</table>

</body>
</html>

